@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,800;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*=-=-=-=-=-=-= Section phrase =-=-=-=-=-=-=-=-=-= */
.phrase-content {
    width: 90%;
    max-width: 700px;
    margin-bottom: 50px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.59);
}

.phrase-content h2 {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    color: rgb(220, 189, 14);
   
}

#phrase {
    font-size: 2.2rem;
    line-height: 50px;
}

.phrase-content cite a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.phrase-content cite a {
    color: rgb(231, 80, 21);
}

/*=-=-=-=-=-=-= Section box time =-=-=-=-=-=-=-=-=-= */
#box-time {
    width: 95%;
    max-width: 700px;
    height: 300px;
    display: flex;
    gap: 10px;
}

.text-hour {
    border: 5px double rgb(23, 232, 23);
    width: 100px;
    height: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.67);
    user-select: none;
}

#hours, #minutes, #seconds {
    font-size: 6rem;
    color: rgb(43, 226, 70);
}

.text-hour span, #format-hour {
    font-size: 2rem;
    color: rgb(46, 226, 43);
}

/*=-=-=-=-=-=-= Section social content =-=-=-=-=-=-=-=-=-= */
.social-content {
    width: 100%;
    height: 100px;
}

.social-content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    text-align: center;
    border: 5px double  rgb(43, 226, 70);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.779);
    transition: .3s ease;
}

.social_links a {
    text-decoration: none;
    font-size: 4rem;
    color: rgb(43, 226, 70);
    transition: all .3s ease;
}

.social_links:hover, .social_links a:hover {
    border-color: blueviolet;
    color: blueviolet;
}

/*=-=-=-=-=-=-= Media Queries =-=-=-=-=-=-=-=-=-= */

@media screen and (max-width: 660px){
    .phrase-content h2 {
        font-size: 2.5rem;
    }
    
    #phrase {
        font-size: 1.8rem;
        line-height: 40px;
    }
    
    #seconds-none {
        display: none;
    }

    .text-hour span {
        font-size: 1.5rem;
        color: rgb(46, 226, 43);
    }
}

@media screen and (max-width: 520px){
    
    .phrase-content h2 {
        font-size: 2rem;
    }

    #phrase {
        font-size: 1.5rem;
        line-height: 30px;
    }
    
    #box-time {
        width: 90%;
    }
    
    .text-hour {
        height: 180px;
    }
    
}

@media screen and (max-width: 480px){
    #phrase {
        font-size: 1.5rem;
    }
    
    #hours, #minutes, #seconds {
        font-size: 4.5rem;
        color: rgb(43, 226, 70);
    }
    
}

@media screen and (max-width: 360px){
    .phrase-content h2 {
        font-size: 1.5rem;
    }

    #phrase {
        font-size: 1.1rem;
    }

    .social_links {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .social_links a {
        font-size: 2rem;
    }
     
}
